html, body {
	margin: 0;
	padding: 0;
}

body {
	/*background-color: #ECECEA;*/
  /*background-image: -webkit-linear-gradient(15deg, #DFE2DB 50%, #ECECEA 50%);*/
	color: #191919;
	font-family: 'Slabo 27px', serif;
}

#wrapper {
	max-width: 800px;
	margin: auto;
	padding: 1em;
}

nav a {
	padding: 0 1em 0 0;
}

section#bio {
	display: flex;
	padding: 0 1em;
}

section#bio img {
	border-radius: 50%;
	padding: 0 1em 0 0;
	max-width: 120px;
	align-self: center;
}

section#bio p {
	align-self: center;
}

/** General */

a {
	color: #444;
}

a:hover, a:active {
	color: #000;
}

h2 {
	border-bottom: 1px solid #191919;
	margin: 1.5em 0 0 0;
}

/** Media queries */

@media only screen and (max-device-width: 700px) {
  #wrapper {
		max-width: 100%;
  }
}
